html,
body {
  background-color: #EDF0F5;
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  background-color: #0F3C7F;
  color: #f1e8e8;
}

input, button {
  border-width: 1px;
  border-style: solid;
  border-color: #d6d0d0;
  box-sizing: border-box;
}

input {
  /* Removes the default line that appears when focusing the element */
  outline: none;
  /* Animation parameters for changing style when changing state */
  transition: all 0.20s ease-in-out;
}

input:focus {
  box-shadow: 0px 0px 5px #51cbee;
  border: 1px solid #51cbee;
}

button, .button {
  cursor: pointer;
}