html,
body {
  background-color: #EDF0F5;
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  background-color: #0F3C7F;
  color: #f1e8e8;
}

input, button {
  box-sizing: border-box;
}

input, textarea {
  /* Removes the default line that appears when focusing the element */
  outline: none;
  /* Animation parameters for changing style when changing state */
  transition: all 0.20s ease-in-out;
}

input:focus, textarea:focus {
  box-shadow: 0px 0px 5px #51cbee;
  border: 1px solid #51cbee;
}

button, .button {
  cursor: pointer;
}

button:disabled, .button:disabled {
  cursor: not-allowed;
}

.hidden {
  display: none;
}

.centeredRow {
  grid-column: 1 / span 2;
  justify-self: center;
}

.row {
  grid-column: 1 / span 2;
}