.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-dark {
  color: #0000008a;
}

.material-icons.md-dark.md-inactive {
  color: #00000042;
  cursor: not-allowed;
}

.material-icons.blueHover:hover {
  color: #1e7af3;
}

.floatContainer {
  overflow: hidden;
}

.gridContainer {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  margin: 0;
  text-align: center;
}

.gridContainer > div {
  width: 100%;
}

.column {
  float: left;
  height: 100%;
}

.column > div {
  margin: 10px;
}

.middleColumn {
  width: 40%;
}

.leftRightColumn {
  width: 30%;
}

.twoColumnGrid {
  display: grid;
  grid-template-columns: 35px calc(100% - 35px);
}

.twoColumnGrid > * {
  margin: 15px;
}

.smallUserImage {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.userImage {
  border-radius: 50%;
  display: block;
  height: 250px;
  padding: 0 25%;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.comment {
  margin-left: 35px;
}

.commentHeader {
  font-size: 16px;
}

.commentHeader:hover {
  color: #1e7af3;
}

.commentBody {
  font-size: 14px;
  margin-top: 7px;
}

.whiteBox {
  background-color: white;
  border-color: #EDF0F5;
  border-style: solid;
  border-top: none;
  border-width: 0px 0px 1.5px 0px;
  cursor: pointer;
}

.whiteBox:hover {
  background-color: #f5f8ff;
}

.headerComment1 {
  font-weight: bold;
}

.headerComment2 {
  color: gray;
}

.selected {
  color: aqua;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 15px 0;
}

.menuItem:hover {
  cursor: pointer;
  color: aqua;
}

.searchResult > * {
  align-self: center;
  justify-self: center;
}

.searchResultImage {
  border-radius: 50%;
  display: block;
  height: 74px;
  margin: 10px 0;
  width: 74px;
}

.searchResultData > span {
  display: block;
  font-size: 20px;
}

.searchResultCompleteName {
  font-weight: bold;
}

.searchResultUsername {
  color: gray;
}


#logo {
  padding: 10px 0px;
}

#logout {
  display: inline-block;
  height: 35px;
  padding: 5px 0px;
}

#searchBox {
  border-color: #EDF0F5;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  height: 35px;
  width: 200px;
  padding: 0px 15px;
}

#rightHeader {
  overflow: hidden;
}

#rightHeader > * {
  float: left;
  margin: 10px 0px 10px 15px;
}

#postGrid {
  background-color: #b1d0ffbe;
  border-radius: 5px 5px 0px 0px;
}

#postBox {
  border-color: #EDF0F5;
  border-radius: 5px;
  border-width: 1px;
  font-size: 14px;
  height: 26px;
  margin-left: 30px;
  overflow-y: hidden;
  padding: 7px 10px 0px 10px;
  resize: none;
}

#profileTab:hover {
  cursor: pointer;
}

#profileArea span {
  display: block;
  text-align: center;
}

#profileImageArea {
  background-color: #b1d0ffbe;
  border-radius: 5px 5px 0px 0px;
  padding: 10px 0;
}

#profileUserHeader {
  background-color: #0F3C7F;
  padding: 10px 0;
}

#profileUserData {
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  padding: 15px 0;
}

#profileUserData > span {
  font-size: 18px;
  margin: 5px 0;
}

#completeName {
  color: #f5f8ff;
  font-size: 24px;
  font-weight: bold;
}

#username {
  color: #dadde6;
  font-size: 20px;
}

#addCommentBtn {
  background-color: rgb(23, 78, 160);
  border-radius: 20px;
  border-width: 0;
  color: #f1e8e8;
  height: 35px;
  margin-top: 0px;
  padding: 0px 15px;
}

#addCommentBtn:disabled {
  opacity: 0.7;
}

#addCommentBtn:hover {
  background-color: #0F3C7F;
}

#searchResultsHeader {
  background-color: #0F3C7F;
  border-radius: 5px 5px 0px 0px;
  color: #f5f8ff;
  font-size: 24px;
  font-weight: bold;
  padding: 12px 0;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  header {
    height: 108px;
  }

  .menu > li {
    display: block;
    padding-bottom: 3px;
  }

  #logo {
    height: 88px;
  }
}

@media only screen and (min-width: 600px) {
  header {
    height: 80px;
  }

  .menu > li {
    display: inline;
    padding: 0px 7.8% 0px 0px;
  }

  #logo {
    height: 60px;
  }

  #messagesTab {
    display: block;
    padding-top: 3px;
  }
}

@media only screen and (min-width: 992px) {
  header {
    height: 55px;
  }

  #logo {
    height: 35px;
  }

  #messagesTab {
    display: inline;
    padding-top: 0px;
  }
}