.flowContainer {
  overflow: hidden;
}

.gridContainer {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  margin: 0;
  height: 52px;
}

.gridContainer > div {
  justify-self: center;
  align-self: center;
}

.column {
  float: left;
  height: 100%;
}

.column > div {
  margin: 10px;
}

.twoColumnGrid {
  display: grid;
  grid-template-columns: 35px calc(100% - 35px);
}

.twoColumnGrid > * {
  margin: 15px;
}

.userImage {
  border-radius: 50%;
  height: 35px;
}

.comment {
  font-size: 16px;
  margin-left: 35px;
}

.commentBox {
  background-color: white;
  border-color: #EDF0F5;
  border-style: solid;
  border-top: none;
  border-width: 0px 0px 1.5px 0px;
  cursor: pointer;
}

.commentBox:hover {
  background-color: #f5f8ff;
}

#logo {
  height: 35px;
}

#menu {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menu > li {
  float: left;
  padding: 15px 20px;
}

#menu > li:hover {
  cursor: pointer;
  color: aqua;
}

#searchBox {
  border-color: #EDF0F5;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  height: 35px;
  width: 200px;
  padding: 0px 15px;
}

#rightHeader {
  overflow: hidden;
}

#rightHeader > * {
  float: left;
  margin-left: 15px;
}

#middleColumn {
  width: 40%;
}

#leftColumn, #rightColumn {
  width: 30%;
}

#postGrid {
  background-color: #b1d0ffbe;
  border-radius: 5px 5px 0px 0px;
}

#postBox {
  border-color: #EDF0F5;
  border-radius: 5px;
  border-width: 1px;
  font-size: 14px;
  height: 26px;
  margin-left: 30px;
  overflow-y: hidden;
  padding: 7px 10px 0px 10px;
  resize: none;
}

#addCommentBtn {
  background-color: rgb(23, 78, 160);
  border-radius: 20px;
  border-width: 0;
  color: #f1e8e8;
  height: 35px;
  margin-top: 0px;
  padding: 0px 15px;
}

#addCommentBtn:disabled {
  opacity: 0.7;
}

#addCommentBtn:hover {
  background-color: #0F3C7F;
}