header {
  overflow: hidden;
}

header > * {
  float: left;
}

main {
  padding-bottom: 70px;
}

footer {
  position: absolute;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  bottom: 0;
  background-color: #0F3C7F;
  text-align: center;
  color: #f1e8e8;
}

input, button {
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #d6d0d0;
  padding: 0px 5px;
}

select {
  margin-left: 10px;
}

a:link {
  color: greenyellow;
}

a:hover {
  color: rgb(206, 42, 206);
}

.textInput {
  height: 30px;
}

.mainSections {
  display: inline-block;
  vertical-align: top;
  width: 49%;
}

.subtitle {
  color: #0F3C7F;
  text-align: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px 15%;
}

.gridContainer > * {
  margin: 5px;
  align-self: end;
}

.gridContainer > div > * {
  width: 100%;
}

.button {
  height: 35px;
  width: 100px;
  margin-top: 15px;
}

.error {
  display: block;
  margin-left: 5px;
  margin-bottom: 5px;
  color: red;
  font-weight: bold;
}

#bodyContainer {
  min-height: 100%;
  position: relative;
}

#slogan {
  font-style: italic;
  margin-left: 5px;
  margin-top: 43px;
}

#logo {
  margin-left: 35%;
}

#pageTitle {
  padding-top: 3px;
}

#welcomeSection > * {
  margin-left: 30%;
  width: 60%;
  text-align: left;
}

#welcomeSection > h2 {
  margin-top: 10%;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 155%;
}

#welcomeSection > ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

#welcomeSection > ul > li {
  margin-top: 10%;
  font-size: 120%;
}

#countrySelect {
  justify-self: end;
}

#countrySelect > * {
  width: auto;
}

#clearBtn {
  justify-self: end;
}